body {
    text-align: center;
    background-color: #aaaaff;
}
h1 {
    text-align: center;
    margin-bottom: 5px;
}
#board {
    background-image: url('https://raw.githubusercontent.com/ishapirov/webdev/master/project1/monopoly.jpg');
    background-size: 850px 850px;
    width: 850px;
    height: 850px;
    display: inline-block;
    border: 4px solid orange;
}

.pieces {
    width: 40px;
    height: 40px;
}

#piece1 {
  left:480px;
  top:75px;
  position:absolute;
  animation-name: movepiece1;
  animation-duration: 20s;
}

#piece2 {
   left:480px;
   top:115px;
   position:absolute;
   animation-name: movepiece2;
   animation-duration: 20s;
}
.middleimg {
    position: absolute;
    top:450px;
    left:710px;
    height:50px;
    width: 200px;
}
#dice {
    height:100px;
    width: 300px;
}
#p1turn {
    height:100px;
    width: 300px;
}
#p2turn {
    height:100px;
    width: 300px;
}

@keyframes movepiece1 {
    25% {left:1120px;top:75px;position: absolute;}
    50% {left:1120px;top:75px;position: absolute;}
    100% {left:1120px;top:75px;position: absolute;}
}

@keyframes movepiece2 {
    50% {left:480px;top:115px;position: absolute;}
    75% {left:1120px;top:115px;position: absolute;}
    100% {left:1120px;top:115px;position: absolute;}
}
